.add-item-button {
    background: var(--brown);
    color: var(--white);
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    width: 80%;
    display: block;
    margin: 0 auto;
}