@import "primereact/resources/themes/saga-orange/theme.css" layer(primereact);
@import "./components.css";

@layer tailwind-base, primereact, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

:root {
  /* COLORS */
  --white: #ffffff;
  --black: #1a0b03;
  --brown: #ecb100;
  --beige: #fff7f2;
  --light-grey: #f0f2f5;
  --medium-grey: #cdcdcd;
  --dark-grey: #aaaaaa;
  --secondary-font: #6b7280;
  --tertiary-font: #374151;
  --hover-color: #f3f4f6;

  /* FONT WEIGHTS */
  --bold-700: 700;
  --bold-600: 600;
}

* {
  font-family: var(--font-quicksand);
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  color: var(--black);
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-weight: 400;
}

h1 {
  font-family: var(--font-urbanist);
}

h2 {
  font-family: var(--font-urbanist);
}

.main--container {
  max-width: 80rem;
  margin: 0 auto;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.main--content {
  padding-top: 2rem;
  flex: 1;
  padding-inline: 1rem;
}

.responsive-dialog {
  width: 100%;
  max-width: 480px;
}

.avatar-fixed img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

no-opacity-disabled.p-rating .p-rating-item,
.no-opacity-disabled.p-rating.p-disabled {
  opacity: 1 !important;
  pointer-events: none;
}

/* ---------- RESPONSIVE ---------- */

@media (max-width: 768px) {
  body {
    padding-top: 5rem;
  }
}